.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes cursorAnimation {
  0% {
    opacity: 1;
  }
  35%{
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  65%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

.card{
  max-width: 90%;
  transition: 0.4s;
}
@media (min-width:500px){
  .card.blog:hover{
    transform: scale(1.05);
  
  }
}

@media (max-width:400px){
  .authCardTxt{
    font-size: 12px;
  }
}